:root {
  --ff: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --c: rgba(255, 255, 255, 0.87);
  --b: rgb(0, 11, 21);
}

* {
  font-family: var(--ff);
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  color: var(--c);
  background-color: var(--b);
}

input,
button,
.button {
  padding: 5px;
  margin: 5px;

  background-color: transparent;
  color: var(--c);
  border: 1px solid var(--c);
  transition: all 0.3s ease-in-out;
}

input::placeholder {
  color: var(--c);
}

input:focus::placeholder {
  color: var(--b);
}

button:focus,
input:focus,
.button:focus {
  background-color: var(--c);
  color: var(--b);
}

button,
.button {
  cursor: pointer;
}

button:hover,
input:hover,
.button:hover {
  box-shadow: 0 0 20px -10px var(--c);
}

a {
  color: var(--c);
  text-decoration: none;
}