.loading-cover {
    background-color: black;

    overflow: hidden;

    animation: goOut 0.5s ease-in-out 1.5s forwards;
}

@keyframes goOut {
    100% {
        opacity: 0;
        transform: scale(0.8);
        display: none;
    }
}

.loading-cover img {
    width: 50vmin;
    height: 50vmin;

    pointer-events: none;

    animation: flip 0.5s ease-in-out 0.5s forwards;
}

@keyframes flip {
    100% {
        transform: rotate(360deg);
    }
}