.tabs {
    background-color: var(--b);
    color: var(--c);
    transition: all 0.3s ease-in-out;
}

.tabs:not(.can-see) {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.tabs .can-see {
    opacity: 1;
    transform: scale(1);
}

.tab.current {
    background-color: rebeccapurple;
}