.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.electron-drag {
    -webkit-app-region: drag;
}

.no-electron-drag {
    -webkit-app-region: no-drag;
}

.full-screen {
    width: 100dvw;
    height: 100dvh;
}

.fixed-t-l {
    position: fixed;
    top: 0;
    left: 0;
}